body{
  background-color: rgb(227, 140, 109);

  h1{
  color:rgb(143, 6, 6);}

  h3{
  color:rgb(143, 6, 6);}


      li {color:rgb(249, 210, 210)}


  
  }
h1{font-size: 50px}

h3{ 
font-size: 37px;
}

  li{ 
  font-size: 35px;
  } 

#smile{
  float: right;
  margin-right: 200px;
}

.music{
  color: rgb(226, 197, 197);
}