body{
  background-color: rgb(227, 140, 109);
}

h1{
  font-size: 60px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 40px;
}

p{
  font-size: 20px;
}

a {
  color: rgb(234, 174, 174);
  text-decoration: none;
}

a:hover {
  color: rgb(240, 163, 163);
}